Julmar.Wpf.Helpers/test/MasterDetailTest/SampleData/PODataSource/PODataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.PODataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.PODataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PODataSource" type="tns:PODataSource" />
  <xs:complexType name="PODataSource">
    <xs:sequence>
      <xs:element name="PurchaseOrders" type="tns:PurchaseOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PurchaseOrders">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PurchaseOrdersItem" type="tns:PurchaseOrdersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PurchaseOrdersItem">
    <xs:sequence>
      <xs:element name="OrderDetails" type="tns:OrderDetails" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="CustomerName" type="xs:string" />
    <xs:attribute blend:Format="Date" name="OrderDate" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OrderDetails">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OrderDetailsItem" type="tns:OrderDetailsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderDetailsItem">
    <xs:attribute blend:FormatParameters="4" name="InventoryId" type="xs:double" />
    <xs:attribute blend:FormatParameters="12,8" name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>